<!DOCTYPE html>
<html>
<head>
  <title>AppZone</title>
  <meta name="viewport" content="width=device-width">
  <!-- TODO: minify and make one for production -->
  <link rel="stylesheet" href="css/base.css"/>
  <link rel="stylesheet" href="css/appzone.css"/>
</head>
<body>
  <div id="appzoneapp">
    <h1>AppZone</h1>
    <ul id="app-list"></ul>
    <div id="app-feedback"></div>
    <ul id="feedbacks"></ul>
  </div>

  <!-- Templates -->

  <script type="text/template" id="app-template">
    <div class="app">
      <label class="name"><a href="#/app/<%- id %>"><%- name %></a></label>
      <% if (typeof(android) != "undefined") { %>
      <div class="unit android">
        <a>Android</a>
        <label class="version"><%- android.version %></label>
        <label class="versionCode"><%- android.versionCode %></label>
        <label class="lastUpdateDate"><%- moment(android.lastUpdateDate).fromNow() %></label>
      </div>
      <% } %>
      <% if (typeof(ios) != "undefined") { %>
      <div class="unit ios">
        <a target="_blank">iOS</a>
        <label class="version"><%- ios.version %></label>
        <label class="versionCode"><%- ios.versionCode %></label>
        <label class="lastUpdateDate"><%- moment(ios.lastUpdateDate).fromNow() %></label>
      </div>
      <% } %>
    </div>
  </script>

  <script type="text/template" id="feedback-template">
    <div class="feedback">
      <label class="date"><%- moment(date).fromNow() %></label>
      <label class="type"><%- appType %></label>
      <label class="feedback"><%- feedback %></label>
    </div>
  </script>

  <script type="text/template" id="feedback-form-template">
    <hr />
    <form class="feedback">
      <textarea name="feedback" placeholder="Write your feedback..."></textarea>
      <select name="type">
        <option value="android">Android</option>
        <option value="ios">iOS</option>
      </select>
      <input class="submit" type="submit" value="Send feedback" />
    </form>
    <hr />
  </script>

  <!-- TODO: make script to remove all them and add as one minified one for production -->
  <script src="js/zepto.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/appzone.js"></script>
  <script src="js/moment.js"></script>
</body>
</html>