body {
	margin: 10px;
}

a.app {
	text-decoration: none;
}

div.app {
	-webkit-border-image: none;
	-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
	background-color: #006DCC;
	background-image: -webkit-linear-gradient(top, #08C, #04C);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

	border-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
	box-sizing: border-box;
	padding-bottom: 9px;
	padding-top: 9px;
	vertical-align: middle;

	text-align: center;
	color: white;
}

.app .name {
	font-size: 18px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
}
.app a {
	display: block;
	color: white;
}
.app .unit {
	display: inline-block;
	padding: 5px 5px 5px 70px;
	margin: 5px;
	background-color:rgba(255,255,255,0.2);
	background-repeat:no-repeat;
}
.app .unit.android {
	background-image:url('../img/android.png');
}
.app .unit.ios {
	background-image:url('../img/ios.png');
}

.app .version {
	display: block;
	font-size: 12px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	display: inline;
}
.app .version:before {
	content:"Version: ";
}
.app .versionCode {
	font-size: 12px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	display: inline;
}
.app .versionCode:before { content: "("; }
.app .versionCode:after { content: ")"; }
.app .lastUpdated {
	font-size: 12px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	display: block;
}
.app .lastUpdated:before {
	content:"Last updated: ";
}