body {
	margin: 10px;
	font-family: Arial;
}
h1,h2,h3,h4 {
	font-family: Arial;
}
a {
	text-decoration: none;
}

a.app {
	text-decoration: none;
}

div.app {
	border: 1px solid #777;
	border-radius: 5px;
}
.app .name {
	margin: 3px;
	font-size: 18px;
	font-weight: bold;
}
.app a {
	display: block;
}

.app .releases {
	border-top: 1px solid #777;
	background: #f2f2f2;
}
.app ul {
	vertical-align: top;
	display: inline-block;
	margin: 0;
}
.app ul li {
	margin: 0;
}
.app ul li .release {
	display: inline-block;
	padding: 0 0 0 30px;
	border-radius: 3px;
	background-color:rgba(255,255,255,0.2);
	background-repeat:no-repeat;
	background-position: 3px center;
	text-decoration: none;

	cursor: hand;
	cursor: pointer;
}
.app ul li:hover {
	background-color: #fff;
}
.app .android .release {
	background-image:url('../img/android.png');
	background-position: 6px center;
}
.app .ios .release {
	background-image:url('../img/ios.png');
}

.app .id {
	display: inline-block;
}
.app .version {
	display: block;
	font-weight: none;
	font-size: 12px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	display: inline;
}
.app .versionCode {
	font-size: 12px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
	display: inline;
}
.app .versionCode:before { content: "("; }
.app .versionCode:after { content: ")"; }
.app .lastUpdateDate {
	margin-top: -5px;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
	text-decoration: none;
	display: block;
}

#feedbacks label {
	font-weight: normal;
}
#feedbacks label.type, #feedbacks label.date {
	display: inline-block;
	font-style: italic;
}
#feedbacks label.type:before { content: "("; }
#feedbacks label.type:after { content: ")"; }
#feedbacks label.feedback {
	display: block;
}
#app-feedback input, #app-feedback select, #app-feedback textarea {
	margin-bottom: 5px;
	width: 100%;
	max-width: 400px;
}